* {
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
}

nav{
    background: transparent;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.ul-menu-responsive {
    display: none;
}

body{
    background-color: rgb(15, 15, 15);
}

.nav-menu{
    color: white;
    font-size: small;
    display: flex;
    justify-content: flex-end;

}

.ul-menu{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-right: 20px;
}

.li-menu, .li-menu-responsive{
    padding: 35px;
    margin-right: 20px;
    list-style: none;
}

.li-menu a, .li-menu-responsive a{
    color: white;
    text-decoration: none;
}

main{
    height: 7px;
}

.logos{
    width: 50px; height: 50px;
}

footer {
    margin-top: 100%;
}

.ul-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.ul-container li {
    list-style: none;
    font-size: 25px;
    margin-right: 30px;
}

.socialmedia-class{
    display: flex;
    justify-content: center;
}

